<div
  class="col-11 col-md-8 col-lg-4 mx-auto h-75 d-flex align-items-center justify-content-center"
>
  <form id="SignUpForm" class="card container-sm p-5 rounded-3">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        name="InputUserEmail"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
      <div id="emailHelp" class="form-text">
        We encrypt your password using an open source hasher.
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        name="InputUserPassword"
        class="form-control"
        id="exampleInputPassword1"
      />
    </div>
    <button type="submit" class="btn btn-primary mt-4 col-6 mx-auto">
      Submit
    </button>
  </form>
</div>